/* app.component.scss */
.sound-control {
  --background: #d3d3d3;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
  border-radius: 5px;
  background: var(--background);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
 
  button {
    background: transparent;
    border: none;
    font-size: 24px; /* Tamaño del emoji de parlante */
    cursor: pointer;
    color: white; /* O cualquier color que combine con tu diseño */
  }
}
